<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of users" [class.active]="user.id === activeUserId"
                [routerLink]="['/users', user.id]" (click)="activeUserId = user.id">
                {{user.userName}}
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <router-outlet></router-outlet>
        <!-- <app-user></app-user>
        <button class="btn btn-primary" (click)="gotoProducts()">Go to Products</button> -->
    </div>
</div>